body {
    font-family: "Microsoft Yahei";
    font-size: 12px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.seller-nav {
    background: #f6f6f6;
    border-bottom: 1px solid #f0f0f0;
    width: auto;
    .nav-content {
        width: 1190px;
        height: 35px;
        margin: auto;
        line-height: 35px;
        .mobile-download {
            float: left;
            border-right: solid 1px #ccc;
            display: block;
            font-size: 11px;
            a {
                padding-right: 10px;
                color: rgba(139, 139, 139, .8);
            }
        }
        a {
            float: right;
            color: rgba(139, 139, 139, .8);
        }
    }
}

.header {
    width: 1190px;
    margin: 40px auto 0 auto;
    .logo {
        width: 211px;
        height: 46px;
        float: left;
        background: url(/static/img/seller_logo.png) no-repeat;
        a.taobao-logo {
            width: 113px;
            height: 46px;
            margin-right: 10px;
            float: left;
            display: block;
        }
        a.sub-logo {
            width: 88px;
            height: 31px;
            margin-top: 6px;
            display: block;
            float: left;
            display: block;
        }
    }
    .topnav {
        height: 50px;
        background: #0085D7;
        margin: 40px 0 23px;
        li.first {
            padding: 0 30px;
        }
        li {
            float: left;
            height: 50px;
            line-height: 50px;
            padding: 0 15px;
            text-align: center;
            a {
                color: white;
                font-size: 14px;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}

.body {
    width: 1190px;
    margin: 0 auto;
    .sidebar {
        width: 188px;
        border: 1px solid #E0E0E0;
        background-color: white;
        float: left;
        .my-app {
            width: 188px;
            height: 42px;
            line-height: 42px;
            border-bottom: 1px solid #e0e0e0;
            background: #F5F5F5;
            span {
                padding-left: 15px;
            }
        }
        ul {
            .category {
                width: 158px;
                margin: 0 10px 0 15px;
                padding: 15px 0;
                border-bottom: 1px solid #e1e1e1;
            }
            .category-name {
                width: 160px;
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                font-weight: 600;
            }
            .common-app {
                width: 78px;
                height: 22px;
                line-height: 22px;
                float: left;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            a {
                color: #333;
            }
        }
    }
    .main-content {
        width: 992px;
        margin-left: 198px;
        padding-top: 10px;
    }
    .hq-goods-area {
        width: 100%;
        padding: 10px 0;
        margin-bottom: 10px;
        background-color: #f5f5f5;
        .hq-goods-con {
            height: 120px;
            background-color: #FFF;
            border: 1px solid #e2e2e2;
            padding: 10px 0;
            margin: 0 10px;
        }
        .hq-goods-left {
            width: 52%;
            border-right: 1px solid #f5f5f5;
            float: left;
        }
        .hq-goods-pos {
            width: 95%;
            padding-bottom: 10px;
            border-bottom: 1px solid #f5f5f5;
            h4 {
                font-size: 14px;
                padding: 5px 15px;
                margin: 0;
            }
            p {
                padding-left: 15px;
                line-height: 20px;
            }
            .all-num {
                display: inline-block;
                width: 80px;
            }
            .gray {
                color: #999;
            }
            .red {
                color: #ec6333;
                font-family: airl;
            }
            .left-num {
                display: inline-block;
                width: 100px;
            }
        }
    }
}