<head>
    <title>注册</title>
    <link rel="stylesheet" href="static/css/account.css">
    <script type="text/javascript" src="static/js/account.js"></script>
</head>
{% extends "layout/layout.html" %} {% block body %}
<div class="header">
    <div class="logo"></div>
</div>
<div class="body">
    <div class="register">
        <form>
            <input type="text" name="email" class="form-control" placeholder="邮箱">
            <input type="text" name="user_name" class="form-control" placeholder="用户名">
            <input type="password" name="password" class="form-control" placeholder="密码">
            <input type="password" name="confirm" class="form-control" placeholder="确认密码">
            <input type="submit" class="btn btn-default" value="注册" id="btn-register"></button>
        </form>
    </div>
</div>
<div class="foot"></div>
{% endblock %}