<!DOCTYPE html>
<html lang="zh">

<head>
    <title>主页</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/lib/css/bootstrap.min.css" >
    <link rel="stylesheet" href="static/css/edit.css">
    <script type="text/javascript" src="/static/js/edit.js"></script>
</head>

<body>
    <div class="header">
        <a href="/">主页</a>
    </div>
    <div class="body">
        <div class="main">
            <div class="goods-name">
            </div>
            <input type="file" class="file" />
        </div>
    </div>
</body>

</html>