<!DOCTYPE html>
<html lang="zh">

<head>
    <title>主页</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>

<body>
    <div class="header"><a href="/login">登陆</a></div>

    <div class="body">
        <div class="sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#">商品管理</a></li>
                <li><a href="#">用户管理</a></li>
                <li><a href="#">订单管理</a></li>
            </ul>
        </div>

        <div class="commodity">
            <div class="com_main">
                <ul>
                    <li>
                        <div class="goods">
                            <a href="">
                                <div class="img">
                                    <img src="" alt="">
                                </div>
                            </a>
                            <div class="desc">

                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="goods">
                            <a href="">
                                <div class="img">
                                    <img src="" alt="">
                                </div>
                            </a>
                            <div class="desc">

                            </div>
                        </div>
                    </li>

                                        <li>
                        <div class="goods">
                            <a href="">
                                <div class="img">
                                    <img src="" alt="">
                                </div>
                            </a>
                            <div class="desc">

                            </div>
                        </div>
                    </li>

                                        <li>
                        <div class="goods">
                            <a href="">
                                <div class="img">
                                    <img src="" alt="">
                                </div>
                            </a>
                            <div class="desc">

                            </div>
                        </div>
                    </li>

                                        <li>
                        <div class="goods">
                            <a href="">
                                <div class="img">
                                    <img src="" alt="">
                                </div>
                            </a>
                            <div class="desc">

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="com_footer">
                <ul class="pager">
                    <li><a href="#">&larr; 上一页</a></li>
                    <li><a href="#">下一页 &rarr;</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>