<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>登陆</title>
        <meta charset="utf-8">
		<link rel="stylesheet" href="static/lib/css/bootstrap.min.css" >
		<link rel="stylesheet" href="static/css/login.css" >
        <script type="text/javascript" src="static/lib/js/jquery-3.0.0.min.js"></script>
        <script type="text/javascript" src="static/js/login.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="logo"></div>
        </div>
        <div class="body">
            <div class="login">
                <div class="login-header"></div>
                <form action="/login" method="post">
                    <input type="text" name="user_name" class="form-control" placeholder="用户名">
                    <input type="password" name="password" class="form-control" placeholder="密码">
                    <input type="button" class="btn btn-default" value="登陆" id="btn-login"></button>
                </form>
            </div>
        </div>
        <div class="foot"></div>
    </body>
</html>
